.course-list {
    list-style: none;
    @include flex-center;
    width: 100%;
    margin-top: 4rem;

    &__item {
        background: $c-4;
        padding: $padding * 2;
        margin-bottom: 1rem;
        padding: $padding;
        border-radius: $padding;
        width: 100%;
    }

    &__item[disabled] {
        background: $c-3;
        color: $c-2;
    }

    &__itemheader {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 2rem;
    }

    &__info {
        text-align: left;
        margin-top: 1rem;
        @include child-margins(1rem);
    }

    &__meta {
        margin-top: 2rem;
        list-style: none;
        font-size: 1.8rem;
    }

    &__meta a {
        color: black;
    }
}