.el-button {
    &--center {
        @include margin-center;
        display: block;
    }

    &--right {
        display: block;
        margin-left: auto;
    }

    &--icon {
        @include icon-button;
    }

    &--text {
        @include text-button;
    }

    &--noborder {
        background: none;
    }
}