.el-question {
    @include flex-center;
    @include margin-center;
    width: 100%;
    max-width: $max-width;
    padding: $padding;
    background: rgba($c-2, 0.9);
    transition: 300ms;
    bottom: -50vh;

    &__text {
        text-align: center;
        font-size: 1.8rem;
        color: $c-1;
        margin-bottom: $padding;
    }

    &__input {
        display: flex;
        width: 100%;
    }

    &__form {
        border-radius: $padding;
        background: rgba($c-2, 0.8);
        padding: .5rem;
        width: 100%;
        border: 0;
        flex: 1;
        margin-right: $padding * 2;
    }

    &__button {
        @include button;
    }

    &[is-visible] {
        bottom: 0;
    }
}