@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto-medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/roboto-mediumitalic.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/roboto-bolditalic.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic.woff') format('woff');
}