.image-viewer {
    @include wh(100%);
    transition: 1s;

    &__image {
        @include wh(100%);
        object-fit: contain;
        opacity: 0;
    }

    &[state="blurred"] {
        filter: blur(10px);
    }
}