.image-viewer {
    @include wh(100%);
    transition: filter 1s;

    &__image {
        opacity: 0;
        pointer-events: none; // Not quite sure why this is needed
    }

    &[state="blurred"] {
        filter: blur(10px);
    }
}