@mixin button {
    @include wh($menu-button-size);
    @include flex-center;
    border-radius: $padding;
    background: white;

    img {
        transition: 300ms;
        @include wh($menu-button-icon-size);
    }

    &[disabled] img {
        filter: grayscale(1) opacity(0.5);
    }
}