.modal-dialog {
    width: calc(100% - #{$padding * 4});
    max-width: 50rem;
    background: white;
    border-radius: $padding;
    padding: $padding;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    @include flex-center;
    @include child-margins($child-margins);
    text-align: center;

    &__button {
        @include text-button;
    }
}