.profile {
    width: 100%;
    max-width: $max-width;
    @include margin-center;
    padding: $padding * 2;
    text-align: center;

    &__header {
        color: $c-4;
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    &__intro {
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &__inputs {
        @include child-margins(3rem);
    }

    &__inputs > li {
        @include flex-center;
        @include child-margins(.7rem);
    }

    &__inputs label {
        font-weight: normal;
        font-size: 1.8rem;
    }

    &__input,
    &__number {
        padding: .5rem;
        border-radius: 1rem;
        border: 1px solid $c-3;
        height: 3.5rem;
        text-align: center;
        font-size: 1.8rem;
    }

    &__input {
        width: 100%;
        max-width: 40rem;
    }

    &__number {
        width: 6rem;
    }

    &__checkboxes {
        list-style: none;
        @include flex-center(row);
    }

    &__checkboxes > li {
        @include flex-center(row);
        margin: 0 1rem;
    }

    &__checkboxes > li > input {
        margin-right: .4rem;
    }

    &__toggles {
        @include flex-center;
        list-style: none;
        @include child-margins(3rem);
        margin-bottom: 3rem;
    }

    &__toggle {
        @include flex-center;
        width: 100%;
    }

    &__toggle-title {
        margin-bottom: .5rem;
    }

    &__toggle-btn {
        @include flex-center(row);
    }

    &__toggle-toggle {
        flex-shrink: 0;
    }

    &__toggle-label {
        width: calc((100% - #{$toggle-width}) / 2);
        margin: 0 .5rem;
        flex-shrink: 0;
    }
}