.screen {
    &--course {
        @include wh(100vw, 100vh);
        overflow: hidden;
        @include flex-center;
    }

    &__flex {
        position: relative;
        background: $c-3;
        @include wh(100%, calc(100vh - #{$menu-height}));
    }

    &__hint {
        position: absolute;
        top: 0;
    }

    &__hint[align="left"] {
        left: $padding;
    }

    &__hint[align="right"] {
        right: $padding;
    }

    &__modal {
        @include transform-center;
    }

    &__fixed {
        background: $c-2;
        @include wh(100%, $menu-height);
        @include flex-center;
    }
}