.screen-splash {
    &__logo img {
        width: 30rem;
        @include margin-center;
        display: block;
    }

    &__text {
        @include child-margins(2rem);
        @include margin-center;
        margin-bottom: 2rem;
        text-align: center;
        max-width: 50rem;
    }

    &__form {
        @include flex-center;
        margin-bottom: 3rem;
    }

    &__notice {
        font-weight: bold;
        margin-bottom: 3rem;
        display: inline-block;
    }

    &__notice p {
        margin-bottom: 1rem;
    }

    &__notice:after {
        content: '';
        @include wh(100%, 3rem);
        background: url('../static/img/el-line.png') no-repeat;
        background-size: contain;
        display: block;
    }

    &__name {
        margin-bottom: 2rem;
        border-radius: $padding;
        border: 1px solid $c-3;
        padding: $padding;
        text-align: center;
        font-style: italic;
    }

    &__start {
        border-radius: $padding;
        border: 1px solid $c-3;
        padding: $padding ($padding * 2);
        text-align: center;
        background: white;
        transition: 300ms;
        color: $c-1;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    &__start[disabled] {
        color: $c-3;
    }

    &__small {
        font-style: italic;
        font-style: 1.6rem;
        margin-bottom: 3rem;
    }
}