// Fonts
$font-family-roboto: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-text: $font-family-roboto;

$c-1: #cf2f79;
$c-2: #cbcbcb;
$c-3: #424242;
$c-4: #ef1863;

$padding: 1rem;
$max-width: 80rem;
$menu-height: 6rem;
$menu-button-size: $menu-height - $padding;
$menu-button-icon-size: $menu-button-size - $padding;
$toggle-width: $menu-button-icon-size * 2;
$toggle-dot-size: $menu-button-icon-size - $padding;
$child-margins: 3rem;